{:paths ["src" "resources"]
 :deps {org.clojure/clojure       {:mvn/version "1.11.1"}
        com.taoensso/timbre       {:mvn/version "6.3.1"}
        ring/ring-core            {:mvn/version "1.11.0"}
        ring/ring-jetty-adapter   {:mvn/version "1.11.0"}
        ring/ring-devel           {:mvn/version "1.12.1"}
        metosin/reitit            {:mvn/version "0.7.0"}
        integrant/integrant       {:mvn/version "0.8.1"}
        org.xerial/sqlite-jdbc    {:mvn/version "3.45.1.0"}
        buddy/buddy-hashers       {:mvn/version "2.0.167"}
        seancorfield/next.jdbc    {:mvn/version "1.2.659"}
        compojure/compojure       {:mvn/version "1.7.1"}
        cheshire/cheshire         {:mvn/version "5.13.0"}
        buddy/buddy-sign          {:mvn/version "3.6.1-359"}
        ring-cors/ring-cors       {:mvn/version "0.1.13"}}
 :aliases {:dev {:main-opts ["-m" "sge-facom.core"]}}}
